html, body {
  background-image: url('/fond%20pour%20premiere%20page%20application.png') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
