html, body {
  background-image: url('/nouveau%20fond%20page%20accueil.png') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
